# Основные токены
BOT_TOKEN=your_telegram_bot_token_here
GOOGLE_API_KEY=your_google_gemini_api_key_here

# Подключение к Supabase (PostgreSQL)
# Пример: postgresql://postgres.abcdefgh:password@aws-0-eu-central-1.pooler.supabase.com:6543/postgres
DATABASE_URL=your_supabase_database_url_here


github=Pirumyan
render= gorpirummek@gmail.com    
supabase=simbahero123@gmail.com